<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Stages EMSI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Accueil</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'liste_etudiants' %}">Étudiants</a>
        </li>
        {% endif %}
      </ul>
      
      <div class="d-flex">
        {% if user.is_authenticated %}
          <span class="navbar-text me-3 text-white">Bonjour, {{ user.username }}</span>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-outline-light btn-sm" type="submit">Déconnexion</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm">Connexion</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
